<h1>Touring App</h1>

<p>登録ありがとうございます<%= @user.name %>様</p>

<p>
アカウントを有効化する際は下記のリンクにとんでください。
</p>

<%= link_to "アカウントを有効化するする", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>