<footer class="footer">
  <small>
    The <a>Touring App</a>
    by <a>Ryo Komori 2021</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/ryo9696">GitHub</a></li>
      <li><a href="https://news.webike.net/">Motorcycle News</a></li>
    </ul>
  </nav>
</footer>